<form method="post" action="/add">
  <div class="mb-3">
    <label for="inpName" class="form-label">Nome</label>
    <input type="text" class="form-control" id="inpName" name="name" placeholder="João" />
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary mb-3">Inserir</button>
  </div>
</form>